.btn {
  cursor: pointer;
  background: linear-gradient(to bottom , tomato, red);
  color: white;
  padding: 10px 30px;
  border-radius: 5px;
  margin: 0 auto;
}
.btn2 {
  cursor: pointer;
  background: linear-gradient(to bottom , dodgerblue, blue);
  color: white;
  padding: 20px 30px;
  border-radius: 5px;
  margin: 0 auto;
  border: 0;
}

.btn:active, .btn2:active {
  transform: scale(0.95) !important;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}